@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/cinzel/latin-400.css";
@import "@fontsource/cinzel/latin-600.css";
@import "@fontsource/cinzel/latin-700.css";

@import "@fontsource/crimson-pro/latin-400.css";
@import "@fontsource/crimson-pro/latin-400-italic.css";
@import "@fontsource/crimson-pro/latin-600.css";
@import "@fontsource/crimson-pro/latin-600-italic.css";

@import "@fontsource/source-sans-3/latin-400.css";
@import "@fontsource/source-sans-3/latin-600.css";
@import "@fontsource/source-sans-3/latin-700.css";

@import "@fontsource/im-fell-english-sc/latin-400.css";
